Create a function timesFive that accepts one argument, multiplies it by 5, and returns the new value.

In [ ]:
function timesFive(num) {
  return num * 5;
}

timesFive(5);

Using let or const, declare a global variable named myGlobal outside of any function. Initialize it with a value of 10.

Inside function fun1, assign 5 to oopsGlobal without using the var, let or const keywords.

In [ ]:
// Declare the myGlobal variable below this line
const myGlobal = 10;

function fun1() {
  // Assign 5 to oopsGlobal here
oopsGlobal = 5
}

// Only change code above this line

function fun2() {
  let output = "";
  if (typeof myGlobal != "undefined") {
    output += "myGlobal: " + myGlobal;
  }
  if (typeof oopsGlobal != "undefined") {
    output += " oopsGlobal: " + oopsGlobal;
  }
  console.log(output);
}

The editor has two console.logs to help you see what is happening. Check the console as you code to see how it changes. Declare a local variable myVar inside myLocalScope and run the tests.

Note: The console will still display ReferenceError: myVar is not defined, but this will not cause the tests to fail.

In [ ]:
function myLocalScope() {
  // Only change code below this line
  const myVar = "a";
  console.log('inside myLocalScope', myVar);
}
myLocalScope();

// Run and check the console
// myVar is not defined outside of myLocalScope
console.log('outside myLocalScope', myVar);

Add a local variable to myOutfit function to override the value of outerWear with the string sweater.

In [ ]:
// Setup
const outerWear = "T-Shirt";

function myOutfit() {
  // Only change code below this line
  const outerWear = "sweater";
  // Only change code above this line
  return outerWear;
}
myOutfit();

Create a function addFive without any arguments. This function adds 5 to the sum variable, but its returned value is undefined.

In [ ]:
// Setup
let sum = 0;

function addThree() {
  sum = sum + 3;
}

// Only change code below this line
function addFive() {
  sum = sum + 5;
}

// Only change code above this line

addThree();
addFive();

Call the processArg function with an argument of 7 and assign its return value to the variable processed.

In [ ]:
// Setup
let processed = 0;

function processArg(num) {
  return (num + 3) / 5;
}

// Only change code below this line
processed = processArg(7);

Write a function nextInLine which takes an array (arr) and a number (item) as arguments.

Add the number to the end of the array, then remove the first element of the array.

The nextInLine function should then return the element that was removed.

In [ ]:
function nextInLine(arr, item) {
  // Only change code below this line
  arr.push(item); 
  return arr.shift();
  // Only change code above this line
}

// Setup
let testArr = [1, 2, 3, 4, 5];

// Display code
console.log("Before: " + JSON.stringify(testArr));
console.log(nextInLine(testArr, 6));
console.log("After: " + JSON.stringify(testArr));

Create an if statement inside the function to return Yes, that was true if the parameter wasThatTrue is true and return No, that was false otherwise.

In [ ]:
function trueOrFalse(wasThatTrue) {
  // Only change code below this line
  if (wasThatTrue) {
    return "Yes, that was true";
  }
  return "No, that was false";

  // Only change code above this line
}

trueOrFalse(true);
trueOrFalse(false);

Add the equality operator to the indicated line so that the function will return the string Equal when val is equivalent to 12.

In [ ]:
// Setup
function testEqual(val) {
  if (val == 12) { // Change this line
    return "Equal";
  }
  return "Not Equal";
}

testEqual(10);


Use the strict equality operator in the if statement so the function will return the string Equal when val is strictly equal to 7.

In [ ]:
// Setup
function testStrict(val) {
  if (val === 7) { // Change this line
    return "Equal";
  }
  return "Not Equal";
}

testStrict(10);

Add the inequality operator != in the if statement so that the function will return the string Not Equal when val is not equivalent to 99.

In [ ]:
// Setup
function testNotEqual(val) {
  if (val != 99) { // Change this line
    return "Not Equal";
  }
  return "Equal";
}

testNotEqual(10);

Add the greater than operator to the indicated lines so that the return statements make sense.

In [ ]:
function testGreaterThan(val) {
  if (val > 100) {  // Change this line
    return "Over 100";
  }

  if (val > 10) {  // Change this line
    return "Over 10";
  }

  return "10 or Under";
}

testGreaterThan(10);

Add the greater than or equal to operator to the indicated lines so that the return statements make sense.

In [ ]:
function testGreaterOrEqual(val) {
  if (val >= 20) {  // Change this line
    return "20 or Over";
  }

  if (val >= 10) {  // Change this line
    return "10 or Over";
  }

  return "Less than 10";
}

testGreaterOrEqual(10);

Replace the two if statements with one statement, using the && operator, which will return the string Yes if val is less than or equal to 50 and greater than or equal to 25. Otherwise, will return the string No.

In [ ]:
function testLogicalAnd(val) {
  // Only change code below this line

  if (val <= 50 && val >=25) {
      return "Yes";
  }

  // Only change code above this line
  return "No";
}

testLogicalAnd(10);

Combine the two if statements into one statement which returns the string Outside if val is not between 10 and 20, inclusive. Otherwise, return the string Inside.

In [ ]:
function testLogicalOr(val) {
  // Only change code below this line

  if (val < 10 || val > 20) {
    return "Outside";
  }
  // Only change code above this line
  return "Inside";
}

testLogicalOr(15);

Combine the if statements into a single if/else statement.

In [ ]:
function testElse(val) {
  let result = "";
  // Only change code below this line

  if (val > 5) {
    result = "Bigger than 5";
  }

  else {
    result = "5 or Smaller";
  }

  // Only change code above this line
  return result;
}

testElse(4);

Convert the logic to use else if statements.

In [ ]:
function testElseIf(val) {
  if (val > 10) {
    return "Greater than 10";
  } else if (val < 5) {
    return "Smaller than 5";
  } else {
    return "Between 5 and 10";
  }
}

testElseIf(7);

Change the order of logic in the function so that it will return the correct statements in all cases.

In [ ]:
function orderMyLogic(val) {
  if (val < 5) {
    return "Less than 5";
  } else if (val < 10) {
    return "Less than 10";
  } else {
    return "Greater than or equal to 10";
  }
}

orderMyLogic(7);

Write chained if/else if statements to fulfill the following conditions:

num < 5 - return Tiny
num < 10 - return Small
num < 15 - return Medium
num < 20 - return Large
num >= 20 - return Huge

In [ ]:
function testSize(num) {
  // Only change code below this line
  if (num < 5) {
    return "Tiny"
  } else if (num < 10) {
    return "Small"
  } else if (num < 15) {
    return "Medium"
  } else if (num < 20) {
    return "Large"
  } else {
    return "Huge"
  }
  // Only change code above this line
}

testSize(7);

Your function will be passed par and strokes arguments. Return the correct string according to this table which lists the strokes in order of priority; top (highest) to bottom (lowest):

![Ekran görüntüsü 2023-03-25 204528.png]()

par and strokes will always be numeric and positive. We have added an array of all the names for your convenience.

In [ ]:
const names = ["Hole-in-one!", "Eagle", "Birdie", "Par", "Bogey", "Double Bogey", "Go Home!"];

function golfScore(par, strokes) {
  // Only change code below this line
  if (strokes == 1 ) {
    return "Hole-in-one!"
  } else if (strokes <= par -2) {
    return "Eagle"
  } else if (strokes == par -1) {
    return "Birdie"
  } else if (strokes == par) {
    return "Par"
  } else if (strokes == par +1) {
    return "Bogey"
  } else if (strokes == par +2) {
    return "Double Bogey"
  } else {
    return "Go Home!"
}
  // Only change code above this line
}

golfScore(5, 4);

Write a switch statement which tests val and sets answer for the following conditions:

1 - alpha

2 - beta

3 - gamma

4 - delta

In [ ]:
function caseInSwitch(val) {
  let answer = "";
  // Only change code below this line
  switch (val) {
    case 1:
      answer = "alpha"
      break;
    case 2:
      answer = "beta"
      break;
    case 3:
      answer = "gamma"
      break;
    case 4:
      answer = "delta"
  }
  // Only change code above this line
  return answer;
}
caseInSwitch(1);

Write a switch statement to set answer for the following conditions:

a - apple

b - bird

c - cat

default - stuff

In [ ]:
function switchOfStuff(val) {
  let answer = "";
  // Only change code below this line
  switch (val) {
    case "a":
      return "apple";
      break;
    case "b":
      return "bird";
      break;
    case "c":
      return "cat";
      break;
    default:
      return "stuff";
      break;
  }
  // Only change code above this line
  return answer;
}

switchOfStuff(1);

Write a switch statement to set answer for the following ranges:

1-3 - Low

4-6 - Mid

7-9 - High

Note: You will need to have a case statement for each number in the range.

In [ ]:
function sequentialSizes(val) {
  let answer = "";
  // Only change code below this line
  switch (val) {
    case 1:
    case 2:
    case 3:
      answer = "Low";
      break;
    case 4: 
    case 5:
    case 6:
      answer = "Mid";
      break;
    case 7:
    case 8:
    case 9:
      answer = "High";
      break;
  }
  // Only change code above this line
  return answer;
}

sequentialSizes(1);

Change the chained if/else if statements into a switch statement.

In [ ]:
function chainToSwitch(val) {
  let answer = "";
  // Only change code below this line
  switch (val) {
    case "bob":
      answer = "Marley";
      break;
    case 42:
      answer = "The Answer";
      break;
    case 1:
      answer = "There is no #1";
      break;
    case 99:
      answer = "Missed me by this much!";
      break;
    case 7:
      answer = "Ate Nine";
      break;
  }
  // Only change code above this line
  return answer;
}
chainToSwitch(7);

Fix the function isLess to remove the if/else statements.

In [ ]:
function isLess(a, b) {
  // Only change code below this line
  return a < b;
  // Only change code above this line
}
isLess(10, 15);